<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="text-center">
                    <h1>Login Here</h1>
                    <hr>
                </div>
                <form [formGroup]="loginForm" >
                    <div class="mb-3">
                        <label class="form-label">Email address</label>
                        <input formControlName="email" type="email" class="form-control" id="exampleInputEmail1"
                            aria-describedby="emailHelp" placeholder="enter your email" name="form-labele" required>
                           
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Password</label>
                        <input formControlName="password" type="password" class="form-control"
                            id="exampleInputPassword1" placeholder="enter password here">
                    </div>
                    <button type="submit" class="btn btn-primary"  (click)="onLogin()">Login</button>
                </form>
                <a routerLink="/register">New User ? click to Register</a>
            </div>
        </div>
    </div>
</div> 


  